[submodule "themes/vex"]
	path = themes/vex
	url = https://github.com/themefisher/vex-hugo
[submodule "themes/vex-hugo"]
	path = themes/vex-hugo
	url = https://github.com/themefisher/vex-hugo
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/kross-hugo-portfolio-template"]
	path = themes/kross-hugo-portfolio-template
	url = https://github.com/themefisher/kross-hugo-portfolio-template.git
[submodule "themes/themes/hugo-lime"]
	path = themes/themes/hugo-lime
	url = git@github.com:uicardiodev/hugo-lime.git
[submodule "themes/hugo-lime"]
	path = themes/hugo-lime
	url = git@github.com:uicardiodev/hugo-lime.git
